footer {
  height: 100px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.container-elementos {
  width: 1280px;
  height: 66px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-ajuste {
  display: flex;
  justify-content: space-between;
}

.inicio-footer {
  width: 213px;
}

.final-footer {
  width: 320px;
  align-items: center;
}

.links-footer {
  font-size: 14px;
  display: block;
  padding-bottom: 0.5rem;
}

.final-footer a {
  color: #000000;
  text-decoration: none;
}

.icon-footer {
  width: 128px;
}

.icon-sociais {
  display: flex;
  justify-content: space-between;
}

.gb {
  padding-top: 1rem;
  text-align: center;
}